/*
Colors used

Background Color: #000000 (black);
Text Color: (white) #ffffff;
Table Cell Color, Border Color: (Dark Teal) 265b5f; 
*/

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: black;
    color: white;
    line-height: 1.6;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

td, th {
    text-align: center;
    background-color: #265b5f;
}

table {
    margin: auto;
    margin-bottom: 20px;
    width: 90%;
    border: 1px, solid;
    border-color: white;
}